In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/processed_dataset.csv')
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,GPA,Standing,Completed Credits,Completed ECTS,GPA Student - Subject,Avg. Grade - Taken,Avg. Grade - Students_Subject,Semester,Theoritical,Practical,Course Credit,ECTS,Course Year
0,MGT 511,Küresel Yönetim Düşüncesi,1182,MBA/NT,Graduate,A-,Successful,3.54,Freshman,15,25,3.540000,3.576471,3.324211,2011 - Fall,3,0,3,5,5
1,UNI 123,Textual Analysis and Effective Communication,134,EE,Undergraduate,C-,Successful,3.67,Freshman,18,30,3.666667,2.120833,2.703226,2011 - Fall,3,0,3,5,1
2,UNI 115,Turkish for International Students I,217,CTV,Undergraduate,A-,Successful,3.70,Freshman,3,5,3.700000,3.900000,2.703226,2011 - Fall,3,0,3,5,1
3,MGT 511,Küresel Yönetim Düşüncesi,1227,MBA/NT,Graduate,B,Successful,3.00,Freshman,15,25,3.000000,3.576471,3.324211,2011 - Fall,3,0,3,5,5
4,MGT 541,Uluslararası Pazarlama,1225,MBA/NT,Graduate,B+,Successful,3.33,Freshman,9,15,3.333333,3.238095,3.324211,2011 - Fall,3,0,3,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49342,EECS 216,Signals and Systems,1311,EE,Undergraduate,F,Unsuccessful,2.91,Sophomore,69,115,2.000000,1.005525,2.203085,2014 - Spring,3,0,3,5,2
49343,EECS 202,EECS II: Systems Fundamentals,1311,EE,Undergraduate,D+,Successful,2.91,Sophomore,69,115,2.000000,1.980226,2.203085,2014 - Spring,3,0,3,5,2
49344,EECS 218,Digital Logic Design,1311,EE,Undergraduate,B-,Successful,2.91,Sophomore,69,115,2.000000,2.274528,2.203085,2014 - Spring,3,0,3,5,2
49345,CTV 212,Editing,173,CTV,Undergraduate,C+,Successful,1.97,Sophomore,57,95,2.488889,2.693056,2.924132,2014 - Spring,3,0,3,5,2
49346,ISS 214,Türk İslam Sanatları Tarihi,789,ISS,Undergraduate,A-,Successful,3.21,Sophomore,81,135,3.321053,3.285714,3.160174,2014 - Spring,3,0,3,5,2

In [3]:
df.columns

Index(['Course Code', 'Course Title', 'Student Number', 'Department Code',
       'Course Level', 'Letter Grade', 'Status', 'GPA', 'Standing',
       'Completed Credits', 'Completed ECTS', 'GPA Student - Subject',
       'Avg. Grade - Taken', 'Avg. Grade - Students_Subject', 'Semester',
       'Theoritical', 'Practical', 'Course Credit', 'ECTS', 'Course Year'],
      dtype='object')

In [10]:
subject = [course_code.split()[0] for course_code in df['Course Code']]

In [12]:
df['Subject'] = subject

In [13]:
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,GPA,Standing,Completed Credits,...,GPA Student - Subject,Avg. Grade - Taken,Avg. Grade - Students_Subject,Semester,Theoritical,Practical,Course Credit,ECTS,Course Year,Subject
0,MGT 511,Küresel Yönetim Düşüncesi,1182,MBA/NT,Graduate,A-,Successful,3.54,Freshman,15,...,3.540000,3.576471,3.324211,2011 - Fall,3,0,3,5,5,MGT
1,UNI 123,Textual Analysis and Effective Communication,134,EE,Undergraduate,C-,Successful,3.67,Freshman,18,...,3.666667,2.120833,2.703226,2011 - Fall,3,0,3,5,1,UNI
2,UNI 115,Turkish for International Students I,217,CTV,Undergraduate,A-,Successful,3.70,Freshman,3,...,3.700000,3.900000,2.703226,2011 - Fall,3,0,3,5,1,UNI
3,MGT 511,Küresel Yönetim Düşüncesi,1227,MBA/NT,Graduate,B,Successful,3.00,Freshman,15,...,3.000000,3.576471,3.324211,2011 - Fall,3,0,3,5,5,MGT
4,MGT 541,Uluslararası Pazarlama,1225,MBA/NT,Graduate,B+,Successful,3.33,Freshman,9,...,3.333333,3.238095,3.324211,2011 - Fall,3,0,3,5,5,MGT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49342,EECS 216,Signals and Systems,1311,EE,Undergraduate,F,Unsuccessful,2.91,Sophomore,69,...,2.000000,1.005525,2.203085,2014 - Spring,3,0,3,5,2,EECS
49343,EECS 202,EECS II: Systems Fundamentals,1311,EE,Undergraduate,D+,Successful,2.91,Sophomore,69,...,2.000000,1.980226,2.203085,2014 - Spring,3,0,3,5,2,EECS
49344,EECS 218,Digital Logic Design,1311,EE,Undergraduate,B-,Successful,2.91,Sophomore,69,...,2.000000,2.274528,2.203085,2014 - Spring,3,0,3,5,2,EECS
49345,CTV 212,Editing,173,CTV,Undergraduate,C+,Successful,1.97,Sophomore,57,...,2.488889,2.693056,2.924132,2014 - Spring,3,0,3,5,2,CTV
49346,ISS 214,Türk İslam Sanatları Tarihi,789,ISS,Undergraduate,A-,Successful,3.21,Sophomore,81,...,3.321053,3.285714,3.160174,2014 - Spring,3,0,3,5,2,ISS

In [72]:
def get_grade_rate(df):
    rate_dictionary = {}
    for row_idx in df.index:
        semester = df.iloc[row_idx, 14]
        rate_dictionary.setdefault(semester, {})
        course_code = df.iloc[row_idx, 0]
        rate_dictionary[semester].setdefault(course_code, {})        
        letter_grade = df.iloc[row_idx, 5]
        
        current_count = 0
        current_sem_idx = sorted(rate_dictionary).index(semester)
        for i in range(current_sem_idx-1, -1, -1):
            prev_semester_name = sorted(rate_dictionary)[i]
            if course_code in rate_dictionary[prev_semester_name]:
                if letter_grade in rate_dictionary[prev_semester_name][course_code]:
                    current_count = rate_dictionary[prev_semester_name][course_code][letter_grade]
                    break
                    
        if letter_grade not in rate_dictionary[semester][course_code]:
            rate_dictionary[semester][course_code][letter_grade] = current_count + 1
        else:
            rate_dictionary[semester][course_code].setdefault(letter_grade, 0)
            rate_dictionary[semester][course_code][letter_grade] += 1
    
    for semester in sorted(rate_dictionary):
        for course_code in rate_dictionary[semester]:
            sum_vals = sum(rate_dictionary[semester][course_code].values())
            for letter_grade in rate_dictionary[semester][course_code]:
                rate_dictionary[semester][course_code][letter_grade] /= sum_vals
        
    return rate_dictionary

In [74]:
rates = get_grade_rate(df)

In [75]:
grade_rates = []
for row_idx in df.index:
    semester = df.iloc[row_idx, 14]
    course_code = df.iloc[row_idx, 0]
    letter_grade = df.iloc[row_idx, 5]
    grade_rates.append(rates[semester][course_code][letter_grade])
df['Grade Rates'] = grade_rates